jupyterlab
azure-identity
openai
pydantic
azure-ai-inference
python-dotenv
azure-mgmt-cognitiveservices
pandas
azure-search-documents
kagglehub[pandas-datasets]
tensorflow
scikit-learn
matplotlib
numpy
seaborn
flask